.my-button2 {
  position: absolute;
  top: 30px;
  left: 250px;
  background-color: #0765a0;
  color: #fff;
  padding: 5px 5px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  box-shadow: 0 4px 12px #0765a0;
}

.my-button2:hover {
  background-color: #0765a0;
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 6px 20px #0765a0;
}

.my-button2:active {
  transform: scale(0.96);
  box-shadow: 0 2px 8px #086cab;
}